/*
HTML TAGS
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}





/*
CLASSES
*/
.secondary-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
}

/**** Top ****/
.top {
    width: 100%;
    background: black;
    height: 3.5em;
    position: fixed;
    z-index: 99;
}



.img {
    display: inline-block;
    position: absolute;
    width: 4em;
    color: white;
    left: 1.3em;

}

.name {
    display: inline-block;
    position: absolute;
    left: 3.2em;

    font-size: 1.5em;
    color: white;
}

/**** TopNav ****/
.mobMenu {
    position: absolute;
    margin-top: 1%;
    font-size: 2em;
    color: white;
    left: 100%;
}

.topNav {
    position: absolute;
    right: 1.5em;
}

.topNavItem {
    display: inline-block;
    margin-left: .5em;
    font-size: 1.2em;

}

.links {
    color: white;
    text-decoration: none;
    padding-bottom: .15em;
}

.links:hover {
    border-bottom: .2em solid red;
}

#profilePic {
    position: relative;
    margin-bottom: -.5em;
    width: 3em;
    clip-path: circle(40% at 50% 50%);
}

/**** TopNav ****/
/**** Top ****/

/**** Header ****/
header {
    position: relative;
    padding-bottom: 15em;
    background: url(../images/pexels-photo-408518.jpeg);
    background-size: cover;
    background-position: center;

}

header::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: black;
    opacity: .65;
}

.infoUser {
    text-align: center;
}

.profilePicHeader {

    position: relative;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 20%;
    clip-path: circle(30% at 50% 40%);

}

.nameUser {
    color: white;
    font-size: 2em;
    position: relative;
    margin-top: 0%;
    margin-bottom: 1%;
}

.descriptionUser {
    position: relative;
    color: rgb(187, 187, 187);
    margin-top: 0%;
}

.linksUser {
    position: relative;
    display: block;
    margin-right: 3.5em;

}

.linkItem {
    display: inline-block;
}

.linkU {

    margin-left: .5em;
    font-size: 2em;
    color: white;
    text-decoration: none;

}

.linkU:hover {
    color: lightgrey;
}

/**** Header ****/
/**** Galery ****/
.upload-section {


    color: #212121;
    text-align: center;
}

.uploadTitle {
    position: relative;
    margin-top: 1%;
    margin-bottom: .2%;
    font-size: 2em;
}

.separatorUpload {
    position: relative;
    margin: auto;
    width: 90%;
    height: .2em;
    background-color: black;
    opacity: 10%;
}

.uploadImg {
    color: rgb(107, 107, 107);
    margin-top: 2%;
    font-size: 4em;
    background: rgb(206, 206, 206);
    padding: 12%;
    margin-bottom: 2%;
}

.uploadImg:hover {
    background: rgb(214, 0, 0);
    color: white;
}

/**** Galery ****/
/****Media Querie ****/
@media (max-width: 545px) {

    /**** top ****/
    .top {
        overflow-y: visible;
        z-index: 6;
    }

    .topNav {
        display: block;
        background: rgb(29, 29, 29);
        width: 100%;
        height: 46em;
        margin-top: 0%;
        width: 50%;
        right: -60%;
        transition: .5s;

    }

    .topNavItem {
        font-size: 2em;
        display: block;
        align-content: center;
        justify-content: center;
        margin-top: 20%;
        margin-left: 0%;
        margin-bottom: 1.5em;
    }

    .mobMenuClose {
        position: absolute;
        font-size: 1.5em;
        top: .5em;
        right: .5em;
        color: white;
    }

    .mobMenu {
        margin-top: .5em;
        left: 90%;
        font-size: 1.5em;
    }

    /**** top ****/

    /**** header ****/
    header {
        overflow: hidden;
        padding-bottom: 10em;
        margin-bottom: 8%;
    }
    .profilePicHeader{
        margin-top: 30%;
        width: 60%;
    }
    /**** header ****/
}
@media (max-width: 1025px){
    .profilePicHeader{
        width: 40%;
        margin-top: 20%;
    }
    header{
        padding-bottom: 6em;
    }
}
/****Media Querie ****/