* {
    margin: 0%;
    padding: 0%;
}

/**** Top ****/
.top {
    width: 100%;
    background: black;
    height: 3.5em;
    position: fixed;
    z-index: 99;
}
.mobMenu{
    position: absolute;
    left: 100%;
}
.img {
    display: inline-block;
    position: absolute;
    width: 4em;
    color: white;
    left: 1.3em;

}

.name {
    display: inline-block;
    position: absolute;
    left: 3.2em;
    top: .75em;
    font-size: 1.5em;
    color: white;
}

/**** TopNav ****/
.mobMenu {
    color: white;
    display: none;
}

.topNav {
    position: absolute;
    display: inline-block;
    right: 1.5em;
}

.topNavItem {
    display: inline-block;
    margin-top: .5em;
    margin-left: .5em;
    font-size: 1.2em;

}
.links{
    color: white;
    text-decoration: none;
    padding-bottom: .5em;
}
.links:hover{  
    border-bottom: .2em solid red;
}
#profilePic {
    position: relative;
    margin-bottom: -.5em;
    width: 3em;
    clip-path: circle(40% at 50% 50%);
}

/**** TopNav ****/
/**** Top ****/

/**** Header ****/
header{
    position: relative;
    padding-bottom: 15em;
    background: url(../images/Fondo-50Mejores.jpg);
    background-size: cover;
    background-position: center;
  
}
header::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: black;
    opacity: .70;
}
.title{
    position: relative;
    text-align: center;
    width: 60%;
    padding-top: 5em;
    margin: auto;
    font-size: 3.8em;
    color: white;


}
.buscador{
    position: relative;
    margin: auto;
    text-align: center;
    background: hsla(0, 0%, 100%, 0.644);
    width: 50%;
    height: 3.5em;
    border-radius: 1em;
}
.separador{
    display: inline-block;
    position: relative;
    margin: auto;
    height: 2.5em;
    width: .2em;
    top: 15%;
    right: 4%;
    background: hsla(0, 0%, 0%, 0.37);
}

input.inputBuscador{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    width: 88%;
    height: 2.2em;
    right: 3%;
    bottom: .15em;
    font-size: 1.5em;
}
.buscar{
    display: inline-block;
    position: relative;
   text-decoration: none;
   color: hsla(0, 0%, 39%, 0.712); 
   font-size: 200%;
   
}
/**** Header ****/
/**** SearchResults ****/
.searchTerm{
    position: relative;
    margin: auto;
    text-align: center;
    top: .3em;
    font-size: 3em;
    margin-bottom: .4em;
    color: rgb(150, 150, 150);
}
.searchSeparator{
    position: relative;
    background: hsla(0, 0%, 0%, 0.192);
    margin: auto;
    width: 95%;
    height: .45em;
}
/**** SearchResults ****/
/**** Galery ****/
.galery{
    margin: auto;
    width: 95%;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
   
}
.Con{
    background: lightblue;
}
.imgGal{
    margin-bottom: 1em;
    width: 29.4em;
    height: fit-content;
    margin-left: .3em;
    margin-right: .3em;
    align-self: flex-start;
}


/**** Galery ****/
@media (max-width: 545px){
    /**** top ****/
    .top{
        overflow-y: visible;
        z-index: 6;
    }
    .topNav{
        display: block;
        background: rgb(29, 29, 29);
        width: 100%;
        height: 46em;
        width: 50%;
        right: -50%;
        transition: .5s;
        
    }
    .topNavItem{
        font-size: 2em;
        display: block;
        align-content: center;
        justify-content: center;
        margin-bottom: 1.5em;
    }
    .mobMenuClose{
        position: absolute;
        font-size: 1.5em;
        top: .5em;
        right: .5em;
        color: white;
    }
    .mobMenu{
        position: absolute;
        top: .5em;
        left: 90%;
        font-size: 1.5em;
    }
    /**** top ****/

    /**** header ****/
    header{
        overflow: hidden;
        padding-bottom: 8em;
        
    }
    
    .title{
        padding-top: 35%;
        font-size: 1.45em;
    }

    .buscar{
        font-size: 1em;
    }
    .buscador{
        height: 3em;
    }
    input.inputBuscador{
        font-size: 1.5em;
        width: 5.5em;
        border: currentColor;
    }
    .separador{
        right: 3%;
        height: 2em;
    }
    /**** header ****/
    /**** Galery ****/
    .imgGal{
        width: 97%;
    }
    /**** Galery ****/

}
@media (max-width: 1025px){
 /**** header ****/
 input.inputBuscador{
    right: .5%;
    
 }
 .buscar{
     right: 2%;
 }
/**** header ****/
}