/*HTML*/

body{
margin:0;
padding: 0;
font-family: 'Roboto';
}

header{
width: 100%;
}
/*CLASES*/
/*NAV*/
.top-bar{
    width: 100%;
    padding: .3em 0 0.1em;
    background: black;
    
}
.logo{
    float: left;
    margin: .10em 0 0 3em;
}

.top-nav{
    margin: 0;
    padding: 0;
    float: right;
    
}
.top-nav-item{/*acomoda la lista*/
    display: inline-block;
    margin: 0 .5em;
    font-weight: 300;
    text-align: right;
}
.top-nav-link{/*formato al los link*/
    display: block;
    font-weight: 100;
    color:white;
    text-decoration: none;
    padding-bottom: .8em;
    
}
.top-nav-link:hover{/*seuclase*/
    color: #ecdfdf;
    position: relative;
    font-weight: 300;
}
/*INTRO*/

/*ABOUT*/

/*QUOTE*/

/*CONTACT*/

/* FOOTER*/

footer{

}



